# Build outputs
dist/
build/

# Node modules
node_modules/

# dotenv 환경변수 파일
.env
.env.*.local

# 로그
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 테스트 커버리지
coverage/
.nyc_output/

# OS별 불필요 파일
.DS_Store
Thumbs.db

# 임시 파일
.temp/
.tmp/

# 프로세스 ID
pids/
*.pid
*.pid.lock
*.seed

# Source map (빌드 시 생성)
*.js.map

# IDE & 에디터
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Docker
docker-compose.override.yml

# Puppeteer 캐시(옵션)
puppeteer/
패키지.md
